body {
    background-color: black;
    zoom: 67%;
}

#logo {
    position: absolute;
    left: -32%; /* Alterado de -50% para -50px */
    width: 10%; /* Você pode definir uma largura fixa em pixels se preferir */
    height: 10%; /* Você pode definir uma altura fixa em pixels se preferir */
    display: flex;
    flex-wrap: wrap;
}

#inicio {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center;
    left: 93%;
    display: flex;
    flex-wrap: wrap;
}

#projetos {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        text-align: center;
        left: 105%;
        display: flex;
        flex-wrap: wrap;
}

#githubimg {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.inicioap {
    color: blueviolet;
    text-align: center;
    position: absolute;
    top: 16%;
    left: 39%;
    font-size: 23px;
    flex-wrap: wrap;
}

.meioap {
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    top: 18%;
    left: 38%;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
}

.fimap {
    color: blueviolet;
    text-align: center;
    position: absolute;
    left: 38.5%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
}

.sobremim {
    text-align: center;
    position: absolute;
    padding: 5%;
    border-radius: 10px;
    border: 10px solid; 
    background-color: gray;
    color: gray;
    left: 19%;
    top: 75%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.sobremimt {
    text-align: center;
    position: absolute;
    padding: 3%;
    color: rgb(248, 248, 248);
    font-size: 35px;
    top: -17%;
    left: 33%;
    display: flex;
    flex-wrap: wrap;
}

.sobremimtxt {
    text-align: center;
    position: absolute;
    padding: 3%;
    color: rgb(248, 248, 248);
    font-size: 35px;
    top: 19%;
    left: 0%;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: blueviolet;
}

#alongamento {
    border: 10px solid;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    top: 124%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {

    Body {
        background-color: black;
        zoom: 0%;
    }

    .inicioap {
        color: blueviolet;
        text-align: center;
        position: absolute;
        top: 77%;
        left: 55%;
        font-size: 23px;
        flex-wrap: wrap;
        width: 115%;
    }
    
    .meioap {
        color: rgb(255, 255, 255);
        text-align: center;
        position: absolute;
        top: 80%;
        left: 55%;
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-wrap: wrap;
    }
    
    .fimap {
        color: blueviolet;
        text-align: center;
        position: absolute;
        top: 92%;
        left: 55%;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-wrap: wrap;
        width: 120%;
    }
    
    #githubimg {
        top: -900%;
        left: 70.5%;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
    }
    
    .sobremim {
        text-align: center;
        position: absolute;
        padding: 5%;
        border-radius: 10px;
        border: 10px solid; 
        background-color: gray;
        color: gray;
        left: 20%;
        top: 170%;
        height: 110%;
        width: 150%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .sobremimt {
        text-align: center;
        position: absolute;
        padding: 3%;
        color: rgb(248, 248, 248);
        font-size: 35px;
        top: -10%;
        left: 17%;
        height: 105%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .sobremimtxt {
        text-align: center;
        position: absolute;
        padding: 3%;
        color: rgb(248, 248, 248);
        font-size: 35px;
        top: 15%;
        left: 0%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .inicio a{
        font-size: 45px;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        text-align: center;
        top: -200%;
        left: 20%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .projetos a {
            font-size: 40px;
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            text-align: center;
            top: -199.7%;
            left: 50%;
            display: flex;
            flex-wrap: wrap;
    }
    
    a {
        text-decoration: none;
        color: blueviolet;
    }
    
    #logo {
        position: absolute;
        top: -205%; /* Alterado de -180% para -180px */
        left: -30%; /* Alterado de -50% para -50px */
        width: 10%; /* Você pode definir uma largura fixa em pixels se preferir */
        height: 10%; /* Você pode definir uma altura fixa em pixels se preferir */
        display: flex;
        flex-wrap: wrap;
    }
    
    #alongamento {
        border: 10px solid;
        background-color: rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 0);
        top: 124%;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
    }
}
