*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: black;
    color: white;
}

ul li {
    list-style-type: none;
}

header ul {
    display: flex;
    gap: 30px;
}

.hr {
    background-color: white;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    color: white;
}

.esquerdaTXT {
    padding: 120px 200px 0 123px;
    color: black;
    text-align: center;
}

.section {
    justify-content: space-between;
    border-bottom: 10px solid;
    display: flex;
    padding: 140px 60px;
    color: black;
}

.direitaEu img {
    padding: 0 0 0 0;
    height: 60vh;
    width: 25vw;
    box-shadow: 100px 20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.direitaEu, .esquerdaTXT {
    width: 50vw;
}

.meio {
    text-align: center;
    width: 100%;
    color: black;
    padding: 70px;
    background-color: gray;
}

#Projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.esquerda {
    width: 30%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 20px 0 100px 0;
    text-align: center;
    align-items: center;
}

.esquerda img{
    width: 20vw;
    height: 20vw;
    align-items: left;
    padding: 20px 0 0 0;
}

.esquerda h2{
    text-align: center;
    padding: 20px 0 0 0;
}

.esquerda p{
    text-align: center;
    padding: 20px 0 0 0;
}