h1 {
    font-size: 2.5rem;
}

p {
    color: black;
    font-size: 1rem;
}

#home{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15rem;
    margin: 2rem 0;
}

img {
    border-radius: 12px;
    transition: transform 0.5s ease;
}

img:hover {
    transform: rotateY(15deg) rotateX(5deg) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.dark img:hover {
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.6)
}